# Data
data/
*.jpg
*.jpeg
*.png
*.csv
!sample_images/*.jpg

# Model artifacts
*.pth
checkpoints/
runs/
wandb/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env

# OS
.DS_Store